name: Release CRX Extension
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
      inputs:
        debug_enabled:
          type: boolean
          default: false

permissions:
  contents: write

jobs:
  build-pack:
    runs-on: ubuntu-latest
    outputs:
      crx-path: ${{ steps.pack-out.outputs.crx_path }}

    steps:
      - uses: actions/checkout@v3
      - run: mkdir -p build
      - run: zip -r build/extension.zip . -x ".github/*"
      - uses: cardinalby/webext-buildtools-chrome-crx-action@v2
        with:
          zipFilePath: build/extension.zip
          crxFilePath: build/new-tab-with-bookmarks.crx
          privateKey: ${{ secrets.CHROME_CRX_PRIVATE_KEY }}
          keyFormat: 'pem'
      - id: pack-out
        run: echo "crx_path=build/extension.crx" >> $GITHUB_OUTPUT
      - uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Release Assets
        run: |
          gh release upload "${{ github.ref_name }}" \
            build/new-tab-with-bookmarks.crx
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
